.column-chart {
  position: relative;
  width: 100%;
}

.columns {
  align-items: flex-end;
  display: flex;
  width: 100%;
}

.column {
  background-color: var(--column-chart-bg-color);
  border-top: 0.125rem solid var(--column-chart-border-color);
  flex: 1;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
.column:first-of-type {
  margin-left: 0;
}
.column:last-of-type {
  background-color: var(--column-chart-active-bg-color);
  border-top: 0.125rem solid var(--column-chart-active-border-color);
  margin-right: 0;
}

.level {
  border-bottom: 0.0625rem dashed var(--column-chart-level-border-color);
  height: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}
