.bar-gauge {
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
}

.block {
  background-color: var(--block-bg-color);
  border: 0.0625rem solid var(--block-border-color);
  flex: 1;
  height: 2rem;
  margin-left: 0.0625rem;
  margin-right: 0.0625rem;
}
.block:first-of-type {
  margin-left: 0;
}
.block:last-of-type {
  margin-right: 0;
}
.block.active {
  background-color: var(--block-active-bg-color);
  border-color: var(--block-active-bg-color);
}
